:root {
    font-size: 8px;
}

body {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    color: rgb(6, 6, 85);
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu {    
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.menu>li {
    position: relative;
}
.menu>li:hover>ul {
    visibility: visible;
}
.menu ul {
    position: absolute;
    /* padding: 10px; */
    z-index: 1;
    background-color: lightsteelblue;
    border-radius: 1rem;
    box-shadow: 0 1px 5px 0 #0005;
    visibility: hidden;
}