.banner {
    background-size: contain;
    background-position: center;
    min-height: 370px;
    max-height: 60vh;
    display: grid;
    align-content: flex-end;
    color: rgb(6, 6, 85);
    text-shadow: 0 0 2rem rgb(248, 244, 189);
}
.banner__caption {
    font-size: 6rem;
}
.banner__text {
    font-size: 3rem;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #10173f;     */
    opacity: .3;
}

@media screen and (min-width: 1064px) {
    .banner__caption {
        font-size: 12rem;
    }
    .banner__text {
        font-size: 4rem;
    }
}